extends ../w-layout/w-layout
include ../w-dialog/w-dialog
include ../w-header/w-header
include ../w-videoFooter/w-videoFooter
include ../w-videoList/w-videoList
include ../w-adFooter/w-adFooter
block head
    link(rel="stylesheet", href="./p-label.scss", type="text/css")

block body
    // + body here
    +w-header()
    .list-header
        h1 #Girls
        ul.list-header__label
            li #cute
            li #biniki girls
            li #tiktok hot girls
            li #sexy

    +w-videoList()

    +w-dialog()
    // - body here


append script
    script(src="{$jsDest}/ventors.js")
    script(src="../../js/lib/requirejs/require.js", data-main="./p-label.js")
    