mixin w-nav-l
    .w-nav.nav-l
        a.active(href="#") Hot
        a(href="#") Fresh
        a(href="#") Rising

mixin w-nav-s
    .w-nav.nav-s
        a.active(href="#") Home
        a(href="#") Latest
        a(href="#") Most Viewed
        a(href="#") Most liked