@charset 'utf-8';

// ---------- 主色调 ----------
$mainColor: #EC1A59; // 主色
$strongColor: #fac200; // 强调色
$lightMainColor: #fffceb;
$subColor: #f1f2f4; // 页面背景、分割线
$bgColor: #ffffff; // 组件背景色


// ---------- 常规用色（文字、边框等） ----------
$darkColor: #111111;
$darkColor2: #333333;
$darkColor3: #323232;

$mediumColor: #666666;
$mediumColor2: #999999;

$lightColor: #f1f2f4;
$lightColor2: #e8e8e8;
$lightColor3: #c8c8c8;
$lightColor4: #c9c9c9;


// ---------- 常规用色（文字、边框等） ----------
$remindColor: #ff5555;
$confirmColor: #24c267;
$linkColor: #42a4ff;