doctype html
html
    head
        meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(content="telephone=no" name="format-detection")
        meta(content="email=no" name="format-detection")
        title 视频直播间-yy直播，中国最大的综合娱乐直播平台
        meta(name="description" content="YY LIVE-中国最大的综合娱乐直播平台，数不尽的美女视频主播，最专业的娱乐直播平台，上直播间找美女主播，关注YY LIVE直播室")
        meta(name="keywords" content="YY LIVE,直播间,直播平台,直播室,美女主播,视频直播,游戏直播,yy直播")
        
        script.
            var stat = {start: new Date()};
        block head
    body
        block body

        block script
            script(src="../../js/rConfig/rConfig.js", local-usage)