mixin w-banner
    .w-banner
        img(src="https://i.ytimg.com/vi/EdXP0Dz4LMg/mqdefault.jpg?v=5bf3bdbc")
        .w-banner__user
            h1.w-banner__user__title Movie Clips
            span.w-banner__user__views 999,999 views
            span.w-banner__user__followBtn +Follow
