mixin w-videoList
    .rec-video-list
        ul
            li(data-shareUrl="//www.baidu.com")
                a(href="./play.html")
                    .rec-video-list__cover
                        img(src="https://i.ytimg.com/vi/1wxijwWKOIc/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLB_kEaRcSn4VR50m6FeL_jBJY_oSw")
                    .rec-video-list__detail.simple
                        .rec-video-list__detail__header
                            +w-videoFooter-header-simple()
                            +w-videoFooter-owner()
                        .video-detail__footer
                            +w-videoFooter-control()
            li.adCover__normal
                a(href="#" target="_blank")
                    .rec-video-list__cover
                        img(src="../../images/300_100.gif")
                    .rec-video-list__detail.simple
                        .rec-video-list__detail__header
                            +w-videoFooter-header-simple()
                            +w-ad-owner()
                        
            li(data-shareUrl="//www.baidu.com")
                a(href="./play.html")
                    .rec-video-list__cover
                        img(src="https://i.ytimg.com/vi/1wxijwWKOIc/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLB_kEaRcSn4VR50m6FeL_jBJY_oSw")
                    .rec-video-list__detail.simple
                        .rec-video-list__detail__header
                            +w-videoFooter-header-simple()
                            +w-videoFooter-owner()
                        .video-detail__footer
                            +w-videoFooter-control()

            li.adCover__big
                a(href="#" target="_blank")
                    .rec-video-list__cover
                        img(src="../../images/300_250.jpg")
                    .rec-video-list__detail.simple
                        .rec-video-list__detail__header
                            +w-videoFooter-header-simple()
                            +w-ad-owner()
            li(data-shareUrl="//www.baidu.com")
                a(href="./play.html")
                    .rec-video-list__cover
                        img(src="https://i.ytimg.com/vi/1wxijwWKOIc/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLB_kEaRcSn4VR50m6FeL_jBJY_oSw")
                    .rec-video-list__detail.simple
                        .rec-video-list__detail__header
                            +w-videoFooter-header-simple()
                            +w-videoFooter-owner()
                        .video-detail__footer
                            +w-videoFooter-control()
            li(data-shareUrl="//www.baidu.com")
                a(href="./play.html")
                    .rec-video-list__cover
                        img(src="https://i.ytimg.com/vi/1wxijwWKOIc/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLB_kEaRcSn4VR50m6FeL_jBJY_oSw")
                    .rec-video-list__detail.simple
                        .rec-video-list__detail__header
                            +w-videoFooter-header-simple()
                            +w-videoFooter-owner()
                        .video-detail__footer
                            +w-videoFooter-control()
            li(data-shareUrl="//www.baidu.com")
                a(href="./play.html")
                    .rec-video-list__cover
                        img(src="https://i.ytimg.com/vi/1wxijwWKOIc/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLB_kEaRcSn4VR50m6FeL_jBJY_oSw")
                    .rec-video-list__detail.simple
                        .rec-video-list__detail__header
                            +w-videoFooter-header-simple()
                            +w-videoFooter-owner()
                        .video-detail__footer
                            +w-videoFooter-control()
        .ul-loader
            span.loading__icon
        script#normalLi(type="text/html")
            li.normalLi(data-url="$shareurl")
                a(href="$url")
                    .rec-video-list__cover
                        img(src="$img")
                    .rec-video-list__detail.simple
                        .rec-video-list__detail__header
                            +w-videoFooter-header-simple('$name')
                            +w-videoFooter-owner('$owner')
                        .video-detail__footer
                            +w-videoFooter-control('$like','$share')
        script#adCover__big(type="text/html")
            li.adCover__big
                a(href="$url" target="_blank")
                    .rec-video-list__cover
                        img(src="$img")
                    .rec-video-list__detail.simple
                        .rec-video-list__detail__header
                            +w-videoFooter-header-simple('$name')
                            +w-ad-owner()
        script#adCover__normal(type="text/html")
            li.adCover__normal
                a(href="$url" target="_blank")
                    .rec-video-list__cover
                        img(src="$img")
                    .rec-video-list__detail.simple
                        .rec-video-list__detail__header
                            +w-videoFooter-header-simple()
                            +w-ad-owner()