mixin w-videoFooter-owner
    .video-detail__owner
        a.video-detail__owner__detail(href="#")
            span.video-detail__owner__detail__icon By
            span.video-detail__owner__detail__name Tiểu Sư Phụ Official
mixin w-videoFooter-control
    .video-detail__control
        span.video-detail__control__likeBtn
            i.icon
            i.hot 98k
        span.video-detail__control__shareBtn
            i.icon
            i.hot 1k
mixin w-videoFooter-owner-label
    .video-detail__owner
        a.video-detail__owner__detail(href="#")
            span.video-detail__owner__detail__icon By
            span.video-detail__owner__detail__name Tiểu Sư Phụ Official
        .video-detail__owner__label
            ul
                li #music
                li #game
                li.hight__light #funny