extends ../w-layout/w-layout
include ../w-dialog/w-dialog
include ../w-header/w-header
include ../w-videoFooter/w-videoFooter
include ../w-banner/w-banner
include ../w-nav/w-nav
include ../w-videoList/w-videoList
include ../w-adFooter/w-adFooter
block head
    link(rel="stylesheet", href="./p-user.scss", type="text/css")

block body
    // + body here
    +w-header()
    +w-banner()
    +w-nav-s()
    
    +w-videoList()
    +w-dialog()
    // - body here


append script
    script(src="{$jsDest}/ventors.js")
    script(src="../../js/lib/requirejs/require.js", data-main="./p-user.js")
    