mixin w-ad-owner
    .video-detail__owner
        a.video-detail__owner__detail(href="#")
            span.video-detail__owner__detail__icon By
            span.video-detail__owner__detail__name Xvidmate