@charset "utf-8";
@import '../../sass/base/variables';
@mixin w-dialog($path){
    .w-dialog-wrapper{
        &.active{
            .w-dialog,.w-dialog-cover{
                display: block;
            }
            .w-dialog-cover{
                z-index: 10;
                animation: .15ms linear;
                opacity: .5;
            }
        }
    }
    .w-dialog-cover{
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        -webkit-transition: opacity .15s linear;
        transition: opacity .15s linear;
        -webkit-animation: b .15s linear;
        animation: b .15s linear;
        opacity: 0;
        background-color: #000;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }
    .w-dialog{
        display: none;
        position: fixed;
        width: px2rem(220);
        height: px2rem(280);
        left: 50%;
        top: 50%;
        padding: px2rem(15) px2rem(20);
        transform: translate(-50%, -50%);
        border-radius: px2rem(4);
        z-index: 20;
        background-color: #fff;
        .w-dialog-header{
            font-weight: bold;
            font-size: px2rem(16);
        }
        .w-dialog-shareList{
            font-weight: bold;
            line-height: px2rem(30);
            li{
                &:active{
                    color: $lightColor2;
                    text-decoration: underline;
                }
            }
        }
        .w-dialog-footer{
            position: absolute;
            bottom: px2rem(15);
            right: px2rem(15);
            color: #888;
            &:active {
                // opacity: .8;
                // box-shadow: inset 0 0 px2rem(15) $mainColor;
                color: $mainColor;
                text-decoration: underline;
            }
        }
        .w-dialog-share{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
        .w-dialog-header-url{
            display: block;
            background-color: $lightColor2;
            margin-top: px2rem(8);
            margin-bottom: px2rem(4);
            color: $mainColor;
            text-indent: px2rem(6);
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .w-dialog-header-btn{
            display: block;
            position: relative;
            top: px2rem(8);
            width: px2rem(40);
            height: px2rem(26);
            line-height: px2rem(26);
            text-align: center;
            color: #888;
            text-decoration: underline;
            border-radius: px2rem(20);
        }
    }
}