@charset "utf-8";
@import '../w-layout/w-layout';
@import '../../sass/base/variables';
@import '../../components/w-share/w-share';

@import '../../components/w-dialog/w-dialog';
@include w-dialog('../../components/w-dialog');

@import '../../components/w-videoFooter/w-videoFooter';
@include w-videoFooter('../../components/w-videoFooter');

.navbar {
    .navbar-userLogo {
        position: absolute;
        width: px2rem(40);
        height: px2rem(40);
        left: 50%;
        top: px2rem(6);
        margin-left: px2rem(-20);
        border-radius: 50%;
        overflow: hidden;
    }

    .navbar-search {
        display: flex;
        position: absolute;
        right: px2rem(50);
        width: px2rem(30);
        height: px2rem(52);
        align-items: center;
        justify-content: center;

        svg {
            width: px2rem(24);
            height: px2rem(24);
            -webkit-flex-shrink: 0;
            -ms-flex-negative: 0;
            flex-shrink: 0;
            width: 24px;
            height: 24px;
            fill: currentColor;
            stroke: none;
        }
    }
}

.video-list {
    .video-list__item {
        video {
            display: block;
            width: 100%;
            height: 100%;
        }
    }
}

.recommend-info {
    ul {
        font-size: 0;
    }

    padding: px2rem(12);

    .recommend-info__title {
        padding: px2rem(16) 0;
        font-size: px2rem(14);
        color: $darkColor2;
    }

    .recommend-info__item {
        display: flex;
    }

    .recommend-info__item+.recommend-info__item {
        margin-top: 12px;
    }

    .recommend-info__item__thumb {
        flex-shrink: 0;
    }

    .recommend-info__item__thumb__content {
        position: relative;
        width: px2rem(160);
        height: px2rem(90);
        overflow: hidden;
    }

    .recommend-info__item__thumb__content__bg {
        background-color: hsla(0, 0%, 53.3%, .2);
    }

    .recommend-info__item__thumb__content__long {
        position: absolute;
        right: 0;
        bottom: 0;
        margin: px2rem(5);
        padding: px2rem(1) px2rem(4);
        border-radius: px2rem(2);
        font-size: px2rem(12);
        color: #fff;
        background-color: hsla(0, 0%, 6.7%, .8);
    }

    .recommend-info__item__metadata {
        display: flex;
        box-flex: 1;
        flex-grow: 1;
        min-width: 0;

        h4 {
            display: -webkit-box;
            max-height: px2rem(50);
            overflow: hidden;
            font-size: px2rem(14);
            line-height: 1.25;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            text-overflow: ellipsis;
        }
    }

    .recommend-info__item__metadata__title {
        display: block;
        flex-grow: 1;
        box-flex: 1;
        padding: 0 px2rem(8);
        color: $darkColor;

        &__byline,
        &__stats {
            display: block;
            font-size: px2rem(12);
            color: $mediumColor2;
        }
    }
}

// .v-player-widget-toolbar {
//     position: absolute;
//     z-index: 3;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     height: 30px;
//     margin-top: -30px;
//     display: -webkit-box;
//     padding: 0 65px 0 39px;
//     background-color: rgba(0, 0, 0, 0.3);
//     visibility: hidden;
// }

// .v-player-widget-toolbar-show {
//     visibility: visible;
// }

// .v-player-widget-toolbar-btn {
//     position: absolute;
//     z-index: 1;
//     left: 0;
//     top: 0;
//     bottom: 0;
//     width: 39px;
// }

// .v-player-widget-toolbar-btn:before {
//     position: absolute;
//     left: 50%;
//     top: 50%;
//     content: '';
//     display: block;
//     width: 16px;
//     height: 16px;
//     background-size: 16px;
//     background-image: url('./images/play.png');
//     background-repeat: no-repeat;
//     -webkit-transform: translate(-50%, -50%);
//     transform: translate(-50%, -50%);
// }

// .v-player-widget-toolbar-time {
//     position: absolute;
//     z-index: 1;
//     right: 0;
//     top: 0;
//     bottom: 0;
//     line-height: 30px;
//     color: #fff;
//     font-size: 10px;
//     padding-right: 8px;
// }

// .v-player-widget-toolbar-progess {
//     position: relative;
//     z-index: 2;
//     display: block;
//     width: 100%;
//     height: 100%;
// }

// .v-player-widget-toolbar-progess:before {
//     content: '';
//     position: absolute;
//     z-index: 1;
//     top: 50%;
//     display: block;
//     width: 100%;
//     height: 0.053333rem;
//     margin-top: -1px;
//     height: 2px;
//     background: #fff;
// }

// .v-player-widget-toolbar-prgess-main {
//     position: relative;
//     z-index: 2;
//     display: block;
//     height: 100%;
// }

// .v-player-widget-toolbar-prgess-main:before {
//     content: '';
//     position: absolute;
//     z-index: 1;
//     top: 50%;
//     display: block;
//     width: 100%;
//     height: 0.053333rem;
//     margin-top: -1px;
//     height: 2px;
//     background: #ffdd00;
// }

// .v-player-widget-toolbar-prgess-main:after {
//     content: '';
//     position: absolute;
//     z-index: 2;
//     top: 50%;
//     right: 0;
//     display: block;
//     background: #E81C59;
//     width: 12px;
//     height: 12px;
//     margin: -6px -6px 0 0;
//     border-radius: 100%;
// }

// .v-player-widget-toolbar-now-pause .v-player-widget-toolbar-btn:before {
//     background-image: url('./images/pause.png');
// }

/* media reset*/
@import '../../sass/base/media';
@keyframes scale{
    0%   {
        transform: matrix(1.5,0,0,1.5,0,0)
    }
    100% {
        transform: matrix(1,0,0,1,0,0)
    }
}